body {
    overflow-x: hidden;       
}

h1 {
    font-family: 'Cardo', serif;
}

p {
    font-family: 'Lato', sans-serif; 
}

.logoImage {
    width: 6rem;
}

.titleText {
    color: white;
    font-size: 10rem;
    letter-spacing: 1.125rem;
    object-fit: cover;
}

@media (max-width: 450px) {
    .titleText {
        font-size: 7rem;
        text-align: center;
        letter-spacing: normal;
    }
    .frameImage {
        width: auto;
        object-fit: cover;
    }
}

.heroImage {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    filter: brightness(0.7);
    top: 0;
    left: 0;
    z-index: -1;
}

#contactUs {
   position: relative;
}

.contactUsImage {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.9);
    /* top: 0;
    left: 0; */
    position: absolute;
    z-index: 0;
}

.contactUsCard {
    position: relative;
    top: 10rem;
}

.frameImageTop {
    width: 50rem;
    rotate: 45deg;
    position: absolute;
    z-index: 1;
    right: 12rem;
    top: 13rem;
}

.frameImageBottom {
    width: 40rem;
    rotate: 45deg;
    position: absolute;
    z-index: 1;
}

.title-container {
    height: 80vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
}

/* cards */

#cards {
    margin: 200px 0;
}

.nav-link {
    letter-spacing: 0.1rem;
}

.navbar-brand {    
    pointer-events: none;
}

.coffeeShopImage {
    filter: brightness(.8);
}

#carousel {
    background-color: beige;
}

.brandLogo {
    height: 200px;
    width: 400px;
}

.fa-linkedin:hover {
  color: #0077B5;
}

.fa-facebook-official:hover {
  color: #385898;
}

.fa-instagram:hover {
  color: #c13584
}